<a href="https://colab.research.google.com/github/themanoftalent/pythondata/blob/master/numpyThree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np

In [0]:
name = ['Ali', 'Babil', 'Canan', 'Dogukan']
age = [25, 45, 37, 19]
weight = [55.0, 85.5, 68.0, 61.5]

In [8]:


x = np.zeros(4, dtype=int)
# Use a compound data type for structured arrays
data = np.zeros(4, dtype={'names':('name', 'age', 'weight'),
                          'formats':('U10', 'i4', 'f8')})
print(data.dtype)
print(x)

[('name', '<U10'), ('age', '<i4'), ('weight', '<f8')]
[0 0 0 0]

In [9]:
data['name'] = name
data['age'] = age
data['weight'] = weight
print(data)

[('Ali', 25, 55. ) ('Babil', 45, 85.5) ('Canan', 37, 68. )
 ('Dogukan', 19, 61.5)]

In [11]:
# Get all names
data['name']

array(['Ali', 'Babil', 'Canan', 'Dogukan'], dtype='<U10')

In [13]:
# Get all names
data["age"]

array([25, 45, 37, 19], dtype=int32)

In [22]:
# Get first row of data
data[0]

('Ali', 25, 55.)

In [23]:
# Get the name from the last row
data[-1]['name']

'Dogukan'

In [25]:
# Get names where age is under 30
data[data['age'] > 30]['name']

array(['Babil', 'Canan'], dtype='<U10')

In [26]:
data[data["age"]<30]["name"]

array(['Ali', 'Dogukan'], dtype='<U10')

The last character or characters represents the size of the object in bytes.

| Character        | Description           | Example                             |
| ---------        | -----------           | -------                             | 
| ``'b'``          | Byte                  | ``np.dtype('b')``                   |
| ``'i'``          | Signed integer        | ``np.dtype('i4') == np.int32``      |
| ``'u'``          | Unsigned integer      | ``np.dtype('u1') == np.uint8``      |
| ``'f'``          | Floating point        | ``np.dtype('f8') == np.int64``      |
| ``'c'``          | Complex floating point| ``np.dtype('c16') == np.complex128``|
| ``'S'``, ``'a'`` | String                | ``np.dtype('S5')``                  |
| ``'U'``          | Unicode string        | ``np.dtype('U') == np.str_``        |
| ``'V'``          | Raw data (void)       | ``np.dtype('V') == np.void``