<a href="https://colab.research.google.com/github/themanoftalent/pythondata/blob/master/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### Here we are doing one and two or multi dimensional pandas. Pandas series, dataframes etc. Pandas panel data.

In [0]:
import pandas as pd

In [0]:
datam=[1,2,3,4,5,6,7,8,9]
series1=pd.Series(datam)

In [0]:
series1

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [0]:
type(series1)

pandas.core.series.Series

Create dataframe

In [0]:
import random

dframe=random.random()
dframe

0.15925033105554876

In [0]:
dataframes=pd.DataFrame(datam)
dataframes

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

Lets do with dictionary

In [0]:
myDict={"FruitName":["apple","banana","melon"], "Counts":[10,15,25]}
myDictframe=pd.DataFrame(myDict)
myDictframe

  FruitName  Counts
0     apple      10
1    banana      15
2     melon      25

##### Now lets create dataframe using numpy

In [0]:
import numpy as np
numparray=np.array([[15000,16000,12500],['Ahmet','Ali',"Can"],[20,30,40]]) 
#it should be double brackets 
df=pd.DataFrame({"Name":numparray[1],"Salary":numparray[0],"Age":numparray[2]})
df

    Name Salary Age
0  Ahmet  15000  20
1    Ali  16000  30
2    Can  12500  40

#### Merge opetation

In [0]:
oyuncu=["player1","player2","player3","player4"]
puanlar=[70,60,80,100]
baslik=["oyun1","oyun2","oyun3","oyun4"]
dfOyun=pd.DataFrame({"Oyuncu":oyuncu,"Puanlar":puanlar,"Başlık":baslik})
dfOyun

    Oyuncu  Puanlar Başlık
0  player1       70  oyun1
1  player2       60  oyun2
2  player3       80  oyun3
3  player4      100  oyun4

In [0]:
oyuncu2=["player5","player6","player7","player8"]
puanlar=[120,130,140,160]
baslik=["oyun5","oyun6","oyun7","oyun8"]
dfoyun2=pd.DataFrame({"oyuncu":oyuncu2,"puanlar":puanlar,"Title":baslik})
dfoyun2

    oyuncu  puanlar  Title
0  player5      120  oyun5
1  player6      130  oyun6
2  player7      140  oyun7
3  player8      160  oyun8

In [0]:
dfoyunToplam1=dfOyun.join(dfoyun2,how="right")
dfoyunToplam1

    Oyuncu  Puanlar Başlık   oyuncu  puanlar  Title
0  player1       70  oyun1  player5      120  oyun5
1  player2       60  oyun2  player6      130  oyun6
2  player3       80  oyun3  player7      140  oyun7
3  player4      100  oyun4  player8      160  oyun8

In [0]:
dfoyunToplam2=dfOyun.join(dfoyun2,how="left")
dfoyunToplam2

    Oyuncu  Puanlar Başlık   oyuncu  puanlar  Title
0  player1       70  oyun1  player5      120  oyun5
1  player2       60  oyun2  player6      130  oyun6
2  player3       80  oyun3  player7      140  oyun7
3  player4      100  oyun4  player8      160  oyun8

In [0]:
dfoyunToplam3=dfOyun.join(dfoyun2,how="inner")
dfoyunToplam3

    Oyuncu  Puanlar Başlık   oyuncu  puanlar  Title
0  player1       70  oyun1  player5      120  oyun5
1  player2       60  oyun2  player6      130  oyun6
2  player3       80  oyun3  player7      140  oyun7
3  player4      100  oyun4  player8      160  oyun8

In [0]:
dfoyunToplam4=dfOyun.join(dfoyun2,how="outer")
dfoyunToplam4

    Oyuncu  Puanlar Başlık   oyuncu  puanlar  Title
0  player1       70  oyun1  player5      120  oyun5
1  player2       60  oyun2  player6      130  oyun6
2  player3       80  oyun3  player7      140  oyun7
3  player4      100  oyun4  player8      160  oyun8

Lets do concatanate

In [0]:
pdCon=pd.concat([dfOyun,dfoyun2])
pdCon

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

  Başlık   Oyuncu  Puanlar  Title   oyuncu  puanlar
0  oyun1  player1     70.0    NaN      NaN      NaN
1  oyun2  player2     60.0    NaN      NaN      NaN
2  oyun3  player3     80.0    NaN      NaN      NaN
3  oyun4  player4    100.0    NaN      NaN      NaN
0    NaN      NaN      NaN  oyun5  player5    120.0
1    NaN      NaN      NaN  oyun6  player6    130.0
2    NaN      NaN      NaN  oyun7  player7    140.0
3    NaN      NaN      NaN  oyun8  player8    160.0

Before importing data

In [0]:
import pandas as pd
import numpy as np
dfer = pd.DataFrame(np.random.randn(3, 3), columns=['num1', 'num2',"num3"])
dfer

       num1      num2      num3
0 -2.094867  0.939404  1.234533
1 -0.679052  0.886295  0.085346
2  0.871167 -0.580273 -0.982833

In [0]:
dfer['num3'] = 3
dfer

In [0]:
dfer["num5"]="Hello"
dfer

__________________________________

In [0]:
#
from google.colab import drive
drive.mount('evli.csv')

import csv
dataevlim=pd.read_csv(dataevli)
dataevlim

In [0]:
dataevlim.tail()

In [0]:
dataevlim.head()

In [0]:
dataevlim.iloc[:4]

In [0]:
dataevlim.iloc[:14,3]

In [0]:
dataevlim.describe()

In [0]:
dataevlim.gelir.abs()

In [0]:
dataevlim.gelir[:1]

In [0]:
dataevlim.sum()
#axis choosing
dataevlim.sum(1)

In [0]:
dataevlim.mean(1)
dataevlim.mean()

In [0]:
dataevlim.std()

In [0]:
dataevlim.describe(include=['object'])

In [0]:
dataevlim.describe(exclude=["object"])

In [0]:
dataevlim. describe(include='all')

In [0]:
dataevlim

In [0]:
dataevlim.iloc[:,0]

In [0]:
dataevlim.iloc[:,3]

In [0]:
dataevlim.iloc[:,[0,3]]

In [0]:
dataevlim.iloc[[1-10],[0,3]]

In [0]:
dataevlim.iloc[[1,2,5,8,10],[0,3]]

In [0]:
dataevlim.iloc[:1]=="evli"